@charset "UTF-8"

html {
    font-size: 18px;
}
body {
    background: #121213;
    color: #ffffff;
    width: 500px;
}
h1 {
    text-align: center;
    border-bottom: 3px solid #3a3a3c;
}
div#letters div.letter-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}
div#letters div.letter {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    height: 2.8rem;
    width: 2.8rem;
    color: #ffffff;
    padding: 0.3rem;
    margin: 0 0.2rem;
}
div#letters div.letter.blank {
    background: #121213;
    border: 1px solid #3a3a3c;
}
div#letters div.letter.correct {
    background: #538d4e;
    border: 0;
}
div#letters div.letter.spot {
    background: #b49f3a;
    border: 0;
}
div#letters div.letter.miss {
    background: #3a3a3c;
    border: 0;
}
div#message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
div#message div.msg {
    border: 1px solid #3a3a3c;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    padding: 4px;
    width: 200px;
}
div#message div.msg span.answer {
    color: #538d4e;
}
div#message button.btn {
    font-size: 16px;
    background: #121213;
    color: #121213;
    height: 32px;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    margin-left: 16px;
}
div#message button.btn.right {
    background: #424e66;
    color: #ffffff;
}
div#message button.btn.wrong {
    background: #424e66;
    color: #ffffff;
}
div#keyboard div.keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
div#keyboard button.key {
    min-width: 35px;
    text-align: center;
    height: 2.8rem;
    border: 0;
    background: #808384;
    color: #ffffff;
    border-radius: 4px;
    padding: 0 0.5rem;
    margin: 0.1rem;
}
div#keyboard button.key.correct {
    border: 0;
    background: #538d4e;
}
div#keyboard button.key.spot {
    border: 0;
    background: #b49f3a;
}
div#keyboard button.key.miss {
    border: 0;
    background: #3a3a3c;
}
