<html>
    <head>
        <title>Wordle</title>
        <link href="{{url_for('static', path='/styles.css')}}" rel="stylesheet">
        <script type="text/javascript">
            document.addEventListener('keydown', (event) => {
                if (event.isComposing || event.keyCode === 229) {
                    return;
                }
                if (event.keyCode >= 65 && event.keyCode <= 90) {
                    window.location.href = '/key/' + event.key;
                } else if (event.key === 'Enter') {
                    window.location.href = '/return';
                } else if (event.key === 'Backspace') {
                    window.location.href = '/delete';
                }
            });
        </script>
    </head>
    <body>
        <h1>Wordle</h1>
        <div id="letters">
            <div class="letter-row letter-row-0">
                <div class="letter {{info.letters[0].status.value}}">
                    {{info.letters[0].letter}}
                </div>
                <div class="letter {{info.letters[1].status.value}}">
                    {{info.letters[1].letter}}
                </div>
                <div class="letter {{info.letters[2].status.value}}">
                    {{info.letters[2].letter}}
                </div>
                <div class="letter {{info.letters[3].status.value}}">
                    {{info.letters[3].letter}}
                </div>
                <div class="letter {{info.letters[4].status.value}}">
                    {{info.letters[4].letter}}
                </div>
            </div>
            <div class="letter-row letter-row-1">
                <div class="letter {{info.letters[5].status.value}}">
                    {{info.letters[5].letter}}
                </div>
                <div class="letter {{info.letters[6].status.value}}">
                    {{info.letters[6].letter}}
                </div>
                <div class="letter {{info.letters[7].status.value}}">
                    {{info.letters[7].letter}}
                </div>
                <div class="letter {{info.letters[8].status.value}}">
                    {{info.letters[8].letter}}
                </div>
                <div class="letter {{info.letters[9].status.value}}">
                    {{info.letters[9].letter}}
                </div>
            </div>
            <div class="letter-row letter-row-2">
                <div class="letter {{info.letters[10].status.value}}">
                    {{info.letters[10].letter}}
                </div>
                <div class="letter {{info.letters[11].status.value}}">
                    {{info.letters[11].letter}}
                </div>
                <div class="letter {{info.letters[12].status.value}}">
                    {{info.letters[12].letter}}
                </div>
                <div class="letter {{info.letters[13].status.value}}">
                    {{info.letters[13].letter}}
                </div>
                <div class="letter {{info.letters[14].status.value}}">
                    {{info.letters[14].letter}}
                </div>
            </div>
            <div class="letter-row letter-row-3">
                <div class="letter {{info.letters[15].status.value}}">
                    {{info.letters[15].letter}}
                </div>
                <div class="letter {{info.letters[16].status.value}}">
                    {{info.letters[16].letter}}
                </div>
                <div class="letter {{info.letters[17].status.value}}">
                    {{info.letters[17].letter}}
                </div>
                <div class="letter {{info.letters[18].status.value}}">
                    {{info.letters[18].letter}}
                </div>
                <div class="letter {{info.letters[19].status.value}}">
                    {{info.letters[19].letter}}
                </div>
            </div>
            <div class="letter-row letter-row-4">
                <div class="letter {{info.letters[20].status.value}}">
                    {{info.letters[20].letter}}
                </div>
                <div class="letter {{info.letters[21].status.value}}">
                    {{info.letters[21].letter}}
                </div>
                <div class="letter {{info.letters[22].status.value}}">
                    {{info.letters[22].letter}}
                </div>
                <div class="letter {{info.letters[23].status.value}}">
                    {{info.letters[23].letter}}
                </div>
                <div class="letter {{info.letters[24].status.value}}">
                    {{info.letters[24].letter}}
                </div>
            </div>
            <div class="letter-row letter-row-5">
                <div class="letter {{info.letters[25].status.value}}">
                    {{info.letters[25].letter}}
                </div>
                <div class="letter {{info.letters[26].status.value}}">
                    {{info.letters[26].letter}}
                </div>
                <div class="letter {{info.letters[27].status.value}}">
                    {{info.letters[27].letter}}
                </div>
                <div class="letter {{info.letters[28].status.value}}">
                    {{info.letters[28].letter}}
                </div>
                <div class="letter {{info.letters[29].status.value}}">
                    {{info.letters[29].letter}}
                </div>
            </div>
        </div>
        <div id="message">
            <div class="msg {{info.status.value}}">
                {% autoescape false %}{{info.message}}{% endautoescape %}
            </div>
            <button class="btn {{info.status.value}}" onclick="location.href='/reset'">New Game</button>
        </div>
        <div id="keyboard">
            <div class="keyboard-row keyboard-row-0">
                <button class="key {{info.keyboards['q'].value}}" onclick="location.href='/key/q'">Q</button>
                <button class="key {{info.keyboards['w'].value}}" onclick="location.href='/key/w'">W</button>
                <button class="key {{info.keyboards['e'].value}}" onclick="location.href='/key/e'">E</button>
                <button class="key {{info.keyboards['r'].value}}" onclick="location.href='/key/r'">R</button>
                <button class="key {{info.keyboards['t'].value}}" onclick="location.href='/key/t'">T</button>
                <button class="key {{info.keyboards['y'].value}}" onclick="location.href='/key/y'">Y</button>
                <button class="key {{info.keyboards['u'].value}}" onclick="location.href='/key/u'">U</button>
                <button class="key {{info.keyboards['i'].value}}" onclick="location.href='/key/i'">I</button>
                <button class="key {{info.keyboards['o'].value}}" onclick="location.href='/key/o'">O</button>
                <button class="key {{info.keyboards['p'].value}}" onclick="location.href='/key/p'">P</button>
            </div>
            <div class="keyboard-row keyboard-row-1">
                <button class="key {{info.keyboards['a'].value}}" onclick="location.href='/key/a'">A</button>
                <button class="key {{info.keyboards['s'].value}}" onclick="location.href='/key/s'">S</button>
                <button class="key {{info.keyboards['d'].value}}" onclick="location.href='/key/d'">D</button>
                <button class="key {{info.keyboards['f'].value}}" onclick="location.href='/key/f'">F</button>
                <button class="key {{info.keyboards['g'].value}}" onclick="location.href='/key/g'">G</button>
                <button class="key {{info.keyboards['h'].value}}" onclick="location.href='/key/h'">H</button>
                <button class="key {{info.keyboards['j'].value}}" onclick="location.href='/key/j'">J</button>
                <button class="key {{info.keyboards['k'].value}}" onclick="location.href='/key/k'">K</button>
                <button class="key {{info.keyboards['l'].value}}" onclick="location.href='/key/l'">L</button>
            </div>
            <div class="keyboard-row keyboard-row-2">
                <button class="key blank" onclick="location.href='/return'">Enter</button>
                <button class="key {{info.keyboards['z'].value}}" onclick="location.href='/key/z'">Z</button>
                <button class="key {{info.keyboards['x'].value}}" onclick="location.href='/key/x'">X</button>
                <button class="key {{info.keyboards['c'].value}}" onclick="location.href='/key/c'">C</button>
                <button class="key {{info.keyboards['v'].value}}" onclick="location.href='/key/v'">V</button>
                <button class="key {{info.keyboards['b'].value}}" onclick="location.href='/key/b'">B</button>
                <button class="key {{info.keyboards['n'].value}}" onclick="location.href='/key/n'">N</button>
                <button class="key {{info.keyboards['m'].value}}" onclick="location.href='/key/m'">M</button>
                <button class="key blank" onclick="location.href='/delete'">Del</button>
            </div>
        </div>
    </body>
</html>
